<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }

    .container {
      width: 400px;
      padding: 60px; 
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      text-align: center;
    }

    .form-group {
      margin: 20px 0; 
    }

    label {
      display: block;
      font-weight: bold;
      text-align: left;
    }

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      font-size: 14px;
      margin-top: 5px;
    }

    button {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px;
      border-radius: 3px;
      font-size: 16px;
      cursor: pointer;
      width: 100%;
    }

    button:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Login</h1>
    <form method="post" action="/login">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required>
        </div>
      
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
        </div>
      
        <div class="form-group">
          <label for="enablePoorAccessControl" style="text-align: center;">Enable Poor Access Control:</label>
          <input type="checkbox" id="enablePoorAccessControl" name="enablePoorAccessControl">
        </div>
      
        <button type="submit">Login</button>
      </form>
      
      <p>No account? <a href="/register">Register</a></p> 
  </div>
</body>
</html>

